body {
    padding-top: 70px;
}

footer{
    background-color: #1fa22e;
    padding: 30;
    padding-top: 5px;
    padding-left : 40px;
    text-align : center;
    }

#mentions{
    text-align: center;
}
.blabla{
    display : inline-block;
}
