body {
	padding-top: 70px;
	background-image:url(../images/fond7.jpg);
	background-size: contain;
	display:flex;
	justify-content:center;
}
#containertotal{
	max-width: 1300px;
}
#contenutotal{

	/*background-color:rgba(0,0,0,0.4);
	/*border:1px dashed lightgrey;*/
	margin-bottom:20px;
}
#mentions{
	text-align: center;
}
#logo {
	height:100px;
	margin-top:-10px;
	position:fixed;
	left: 30px;
	height:105px;
	position:fixed;
	top:5px;
	left:0px;
}
/*Debut Navbar*/
.collapse{
}

.navbar{

}
.nav-center {

}
.navbar-nav{
	justify-content:center;


}
.navbar-default .navbar-nav>li>a {
	color: #F9B200;
}
/*Fin Navbar*/
.titre {
	color:#F9B200;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	text-decoration-style: bold;
}
.topo{
	margin-left: auto;
	padding:1%
}
#hautDePage {
	height: 100px;
	background-color: grey
}

/*Debut Bouton "Retour en haut de page*/
#btn_up {
	display: none;
	position:fixed;
	z-index:5;
	bottom:10px;
	right: 10px;
	z-index: 5;
}
/*Fin Bouton "Retour en haut de page"*/
p {
	margin: 5%;
	font-size: 17px;
	color: black;
	color: white;
	margin: 5%;
	font-size: 22px;
}
/*Lesle*/
#conteneur{
	padding: 50px;
}
#carousel-inner{

}
.carousel-page{
	width:100%;

	background-color: rgba(0,0,0,0);
	color:white;
}
#connexion{
	text-align: right;
}
.img-responsive{
	margin:0px auto;
	max-height:100%;
}
#news{
	margin-top:30px;
	color:black;
}
.mb-1{
	color:black;
}
/*css formulaire*/

.formulaire {
	text-align: center;
	color: white;
}

h1{
	text-align: left;
	color:#F9B200;

}
form {
	margin: 0 auto;
	width: 450px;
	color: white;
	padding: 1em;
	border: 1px solid #CCC;
	border-radius: 1em;
}
form div + div {
	margin-top: 1em;
}

label {
	/* To make sure that all labels have the same size and are properly aligned*/
	display: inline-block;
	width: 150px;
	text-align: right;
}

h3{
	color:#F9B200 !important;
}
.panel-body{

}

/**************page MFR***************/

.text{
	color: white;
	font-size: 16px;

}
.MFR{
	color: #F9B200;

}
.Alternance{
	color:#5CB85C;
	text-align:center;
}
.Presentation{
	text-align: center;
}
.spécialité{
	color:#F9B200;
}

.glyphicon.glyphicon-hand-right{
	color: #F9B200;
}
.chapeau{
	margin-top: 45px;
}
.chapeau img {
	box-sizing: border-box;
	display: inline-block;
	margin: 0;
	vertical-align: top;
	width: 40%;
	padding-left: 40px;
}
.chapeau p{
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	width: 59%;
	margin: 0;
	padding-left: 20px;
	/*margin-top: 0;
	margin-bottom: 0;*/
}
.decalage1{
	margin-left: 4em;
	margin-top: 1.2em;
	display: list-item;
	list-style: none;
}
.decalage1 .glyphicon.glyphicon-circle-arrow-right{
	color: #5CB85C;
}
/*
#image{
	width: 0px;
	height: 60px;
}
#right-text{
	float: right;
	width: 50%;
}
*/
/********************************************/

.formation{
	color : white;
	width : 100%;
}

.titre-formation{
	color : #F9B200;
}
/*lesly*/
.page-header{
	color: white;
}
.controls{
	color: white;
	text-align: left;
}

legend {
	color: white;
}
.boite{
	color: black;

}

#submitbutton{
	position:relative;
	top:-27px;
}
/*Debut Modal*/
#myModal{
	position:relative;
	top:-1300px;
	left:475px;
	width:400px;
	height:260px;
	background-color:white;
	border-radius: 20px;
}
#modalP{
	color:black;

}

.emptyspace{
	height: 15px;
}

#formationDEA{
	padding-left: 5%;
}

.divDEA{
	margin-left: -40px;
}

/*Fin Modal*/

.img4.3{
	margin-left: -2px;
}

/*Debut Footer*/

footer{
	background-color: #F9B200;
	text-align : center;
	display:flex;
	justify-content: center;
	margin-left:0 !important;
	margin-right:0 !important;
	width:100%;
}

.blabla{
	position:relative;
	left:150px;
	top:20px;

}
.footerlink{
	color:black;
}
/*Fin Footer*/